.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  padding-left: 5px;
  padding-top: 15px;
}

.sidebar-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
}

.sidebar-flex:hover {
  background-color: rgb(238, 238, 238);
}

.sidebar-icons {
  height: 24px;
  width: 24px;
  margin-bottom: 5px;
}

.sidebar-icon-name {
  font-family: Roboto, Arial;
  font-size: 10px;
}
